## How to Handle JSON File

In [5]:
import pandas as pd

In [19]:
x = '{"Name":["p1","p2"],"Age":[21,23]}'
## default json format simplest json

In [9]:
pd.read_json(x)

C:\Users\phane\AppData\Local\Temp\ipykernel_21116\1267235832.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x)

  Name  Age
0   p1   21
1   p2   23

In [11]:
x = '{1:["p1","p2"],"Age":[21,23]}'   ## keys only take string datatype
                                      ## Can't use int,float,complex etc only strings

In [13]:
pd.read_json(x)

C:\Users\phane\AppData\Local\Temp\ipykernel_21116\1267235832.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x)

ValueError: Key name of object must be 'string' when decoding 'object'

simplest form of json is

where keys --   acting as column names

where values --- acting as column values

x = '{"Name":["p1","p2"],"Age":[21,23]}'

### Different formats of json

In [21]:
x =  '{"Name":["p1","p2"],"Age":[21,23]}'

In [23]:
data=pd.read_json(x)

C:\Users\phane\AppData\Local\Temp\ipykernel_21116\1694729012.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data=pd.read_json(x)

In [25]:
data

  Name  Age
0   p1   21
1   p2   23

In [27]:
x2=data.to_json(orient="index")

In [29]:
x2

'{"0":{"Name":"p1","Age":21},"1":{"Name":"p2","Age":23}}'

In [31]:
pd.read_json(x2,orient="index")

C:\Users\phane\AppData\Local\Temp\ipykernel_21116\1222398037.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x2,orient="index")

  Name  Age
0   p1   21
1   p2   23

In [33]:
x3 =data.to_json(orient="columns")

In [35]:
x3

'{"Name":{"0":"p1","1":"p2"},"Age":{"0":21,"1":23}}'

In [37]:
pd.read_json(x3,orient="columns")

C:\Users\phane\AppData\Local\Temp\ipykernel_21116\2742886167.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x3,orient="columns")

  Name  Age
0   p1   21
1   p2   23

In [39]:
x4 = data.to_json(orient="values")

In [41]:
x4

'[["p1",21],["p2",23]]'

In [43]:
pd.read_json(x4,orient="values")

C:\Users\phane\AppData\Local\Temp\ipykernel_21116\2664431613.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x4,orient="values")

    0   1
0  p1  21
1  p2  23

In [45]:
x5=data.to_json(orient="split")

In [47]:
x5

'{"columns":["Name","Age"],"index":[0,1],"data":[["p1",21],["p2",23]]}'

In [49]:
pd.read_json(x5,orient="split")

C:\Users\phane\AppData\Local\Temp\ipykernel_21116\426387458.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x5,orient="split")

  Name  Age
0   p1   21
1   p2   23

### Semi-Structured Json file

In [52]:
x =  {"Name":"p1","marks":21} #semi_structure takes the format in dictionary
                            # whereas structured json takes the format in string

In [54]:
x

{'Name': 'p1', 'marks': 21}

In [56]:
type(x)

dict

In [58]:
x =  {"Name":"p1","marks":{"Maths":21,"Hindi":20}}

In [60]:
pd.json_normalize(x)

  Name  marks.Maths  marks.Hindi
0   p1           21           20

In [62]:
x =  {"Name":"p1","marks":{"Sem1":{"Maths":21,"Hindi":20},"Sem2":{"Maths":22,"Hindi":25}}}

In [64]:
pd.json_normalize(x)

  Name  marks.Sem1.Maths  marks.Sem1.Hindi  marks.Sem2.Maths  marks.Sem2.Hindi
0   p1                21                20                22                25

In [66]:
pd.json_normalize(x,max_level=0)

  Name                                              marks
0   p1  {'Sem1': {'Maths': 21, 'Hindi': 20}, 'Sem2': {...

In [68]:
pd.json_normalize(x,max_level=1)

  Name                  marks.Sem1                  marks.Sem2
0   p1  {'Maths': 21, 'Hindi': 20}  {'Maths': 22, 'Hindi': 25}

In [70]:
pd.json_normalize(x,max_level=2)

  Name  marks.Sem1.Maths  marks.Sem1.Hindi  marks.Sem2.Maths  marks.Sem2.Hindi
0   p1                21                20                22                25

In [78]:
x =  {"Name":{"p1":12},"marks":[{"Sem1":20,"Sem2":30}],"Age":{"a":{"b":1}}}

In [80]:
pd.json_normalize(x,record_path=["marks"],meta=[["Name","p1"],["Age","a","b"]])

   Sem1  Sem2 Name.p1 Age.a.b
0    20    30      12       1